<h1 class="header-bar header-bar-needed">What's Happening?</h1>
<md-content layout="column" flex class="md-padding">
  <h2 class="subtitle">{{ disasters[uuid].name }}</h2>
  <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
  <p>{{ disasters[uuid].details }}</p>
  <md-button class="md-button md-raised md-primary" ng-click="go('/request/'+uuid)" ng-if="required">Offer Help</md-button>
  <md-button class="md-button md-raised md-primary" ng-disabled="true" ng-if="!required">Volunteers not required yet</md-button>
</md-content>
