<h1 class="header-bar header-bar-request">What we need?</h1>
<md-content layout="column" flex class="md-padding">
  <h2 class="subtitle">{{disaster.name}}</h2>
  <p>Please review the following resources, which have been identified as essential items to assist in the recovery effort, that you are able to provide assistance with.</p>

  <md-list>
    <md-list-item ng-repeat="(key, resource) in disaster.resources">
      <md-checkbox ng-model="selected[key]" aria-label="{{resource.required}}"></md-checkbox>
      <p>{{resource.required}}</p>
      <md-icon class="md-secondary" ng-click="showDetail($event, resource.details)" aria-label="Chat" md-font-icon="fa-question" class="fa"></md-icon>
    </md-list-item>
  </md-list>

  <md-button ng-click="go('/thanks/woot')" class="md-warn md-fab md-fab-bottom-left">Sorry</md-button>
  <md-button ng-click="showConfirm()" class="md-primary md-fab md-fab-bottom-right" ng-disabled="!canConfirm()">Yes</md-button>
</md-content>
