.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}

.angular-google-map-container { height: 512px; }

.disaster-text {
  color: rgba(0,0,0,0.5);
  padding-bottom: 10px;
}
